<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedibus Expired UUID</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1 align="center" style="color: red;">
        We're sorry, but the registration token has expired.
    </h1>
    <h2 align="center" style="color: green;">
        Please contact the system admin.
    </h2>
</body>
<footer style="padding-top: 50px;" class="page-footer font-small blue">
    <div class="text-center">
        <img src="/logo.jpg" style="height: 30%; width: 30%; object-fit: contain;">
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright: winteriscoming_255239_255350_253820_253889
    </div>
    <!-- Copyright -->
</footer>
</html>